*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", serif;
    font-style: normal;
}




.scroll{
    height: 10px;
    width: 100%;
    background-color: greenyellow;
    position: fixed;
    top: 0;
    scale: 0 1;
    z-index: 1000;
    transform-origin: right;
    animation: scrollWatch linear;
    animation-timeline: scroll();
}
@keyframes scrollWatch{
    to{
        scale: 1 1;
    }
}








.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 12px;
    color: white;
    padding: 20px;
    position: absolute;
    width: 100vw;
}

#logo{
    mix-blend-mode:difference;
}


.middle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy{
    background-color: rgb(199, 159, 99);
    font-size: 12px;
    color: white;
    font-weight: bold;
    padding: 10px 25px;
}
.sell{
    background-color: black;
    font-size: 12px;
    color: white;
    font-weight: bold;
    padding: 10px 25px;
}


ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 1.1rem;
    font-weight: bold;
    font-size: 12px;
}

#logo, .middle, ul{
    scale: 0;
    /* transform: translateY(100px); */
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        scale: 1;
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}
ul{
    animation-delay: 1.3s;
}
.middle{
    animation-delay: 1s;
}
#logo{
    animation-delay: 0.6s;
}

.hero-section{
    display: flex;
    background-color: black;
    height: 60vh;
}

.left-hero-section{
    background-image: url("./images/bg\ hero.webp");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
}
.right-hero-section{
    background-image: linear-gradient(to left, #240808, rgb(104, 14, 13));
    width: 50%;
    height: 100%;
}