@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+PhagsPa&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --white: #eee;
    --black: #000;
    --highlight: rgb(200, 255, 0);
    --orange-blur: rgba(249, 138, 19, 0.9);
    --grey: rgb(70, 70, 70);
    --red: red;
    --light-grey: rgb(229, 228, 228);
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: poppins;
    /* background-color: var(--black); */
}




.tracker{
    height: 2px;
    background-color: var(--red);
    position: fixed;
    width: 100%;
    top: 0;
    scale: 0 1;
    z-index: 1000;
    transform-origin: left;
    animation: track linear;
    animation-timeline: scroll();
}
@keyframes track {
    to{
        scale: 1 1;
    }
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    max-width: 1140px;
    margin: auto;
    height: 50px;
    position: relative;
    z-index: 200;
    opacity: 0;
    filter: blur(20px);
    scale: 0.5;
    transition: all 0.7s;
}
.navbar a{
    margin-right: 40px;
    text-decoration: none;
    color: var(--white);
    letter-spacing: 2px;
    font-weight: bold;
}


.hero{
    height: 100vh;
    overflow: hidden;
    width: 100%;
    margin-top: -50px;
    position: relative;
    /* z-index: -10; */
    background-image: url("https://hbr.org/resources/images/article_assets/2023/09/A_Sep23_13_Hard-work_183304802.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    filter: blur(20px);
    scale: 0.5;
    transition: all 0.7s;
}
.show{
    opacity: 1;
    filter: blur(0);
    scale: 1;
}


.hero::before{
    content: "";
    background-color: var(--orange-blur);
    width: 100%;
    height: 100%;
    position: absolute;
    /* z-index: 100; */
    backdrop-filter: blur(5px);

}
.hero .hero-content{
    position: relative;
    /* z-index: 200; */
    width: fit-content;
    height: fit-content;
    margin: auto;
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 
   
}

.hero .hero-content .image{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    overflow: hidden;
}

.hero .hero-content .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* object-position: 55px 15px; */   /*Image*/
    /* object-position: 20px 30px; */   /*Image1*/
    object-position: 0px -10px;
    scale: 1.1;
}
.hero .hero-content .name{
    font-family: "Brush Script MT", cursive;
    font-size: 50px;
    font-weight: bold;
    transform: rotateZ(-7deg);
    letter-spacing: 5px;
    text-shadow: 1px 5px 5px grey;
}

.hero .hero-content .role{
    font-size: 15px;
    letter-spacing: 2px;
}  
b{
    font-size: 30px;
}

.hero .hero-content .social-media{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hero .hero-content .social-media a{
    padding-right: 20px;
    color: var(--black);
}
.hero .hero-content .social-media a:hover,
.hero .hero-content .social-media img:hover{
    scale: 1.2;
}



.hero .hero-content .image,
.hero .hero-content .role{
    opacity: 0;
    filter: blur(20px);
    transform: translateX(-200px);
    animation: showContent 0.5s 0.5s linear 1 forwards;
}
.hero .hero-content .name{
    opacity: 0;
    filter: blur(20px);
    animation: showContentName 0.5s 0.7s linear 1 forwards;
}
@keyframes showContent {
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}
@keyframes showContentName {
    to{
        opacity: 1;
        filter: blur(0);
    }
}
.hero .hero-content .role{
    animation-delay: 1.2s;
}



.hero .hero-content .social-media a:nth-child(1),
.hero .hero-content .social-media a:nth-child(2),
.hero .hero-content .social-media a:nth-child(3),
.hero .hero-content .social-media a:nth-child(4){
    opacity: 0;
    filter: blur(20px);
    transform: translateY(200px);
    animation: showIcon 0.5s 0.2s linear 1 forwards;
}
@keyframes showIcon {
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}
.hero .hero-content .social-media a:nth-child(1){
    animation-delay: 0.4s;
}
.hero .hero-content .social-media a:nth-child(2){
    animation-delay: 0.7s;
}
.hero .hero-content .social-media a:nth-child(3){
    animation-delay: 1s;
}
.hero .hero-content .social-media a:nth-child(4){
    animation-delay: 1.3s;
}







.about{
    max-width: 1140px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 240px;
    display: flex;
    flex-direction: column;
    gap: 5.5rem;
}
.about .below{
    display: flex;
    justify-content: center;
    gap: 4.5rem;
}


.about .heading{
    font-size: 40px;
    text-align: center;
    color: var(--black);
    letter-spacing: 2px;
    word-spacing: 5px;
}
.aboutme{
    opacity: 0;
    transform: translateY(120px);
    transition: all 1s;
}
.headingEffect{
    opacity: 1;
    transform: translateY(0);
}


.about .details{
    display: flex;
    gap: 1.7rem;
    width: fit-content;
}
.about .below .details .ask{
    width: 100px;
    font-weight: bold;
    font-size: 16px;
}
.about .below .details .ans{
    width: 200px;
    font-size: 16px;
    color: var(--grey);
}
.about .details .ans p, .ask p{
    padding-bottom: 30px;
}

.about .des{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    word-spacing: 7px;
}
.about .des p:nth-child(2),
.about .des p:nth-child(3){
    color: var(--grey);
}
.about .des p:nth-child(2){
    padding-bottom: 20px;
}
.about .des .hello{
    font-size: 30px;
}
.about .below .des .social-media{
    display: flex;
    gap: 1rem;
}
.about .below .des .social-media a{
    color: black;
    font-size: 25px;
    transition: all 0.5s;
}
.about .below .des .social-media a:hover{
    color: var(--orange-blur);
    font-size: 25px;
}
.right{
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.7s;
}
.rightEffect{
    opacity: 1;
    transform: translateX(0);
}
/* .right:nth-child(2){
    transition-delay: 0.4s;
}
.right:nth-child(3){
    transition-delay: 0.6s;
} */

.left{
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.3s;
    transition-timing-function: linear;
}

.leftEffect{
    opacity: 1;
    transform: translateX(0);
}
.left:nth-child(1){
    transition-delay: 0.2s;
}
.left:nth-child(2){
    transition-delay: 0.3s;
}
.left:nth-child(3){
    transition-delay: 0.4s;
}
.left:nth-child(4){
    transition-delay: 0.5s;
}




.resume{
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    /* background-color: red; */
    margin: 100px auto;
    justify-content: center;
    align-items: center;
}
.resume .heading .aboutme{
    font-size: 40px;
    text-align: center;
    color: var(--black);
    letter-spacing: 2px;
    word-spacing: 5px;
}
.resume .work-exp{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: var(--grey); */
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 10%;
    padding-bottom: 30px;
}

.resume .work-exp .my-work, .education{
    background-color: var(--light-grey);
    padding: 5px 15px;
    margin-bottom: 50px;
    border-radius: 4px;
    width: fit-content;
    /* position: relative; */
    text-align: center;
    letter-spacing: 7px;
    text-transform: uppercase;
    word-spacing: 7px;
    font-size: 18px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.resume .work-exp .education{
    margin-top: 50px;
}

.resume .work-exp::before{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: var(--light-grey);
    left: 50%;
    transform: translateX(-50%);
}

.resume .work-exp .work-style-item{
    display: flex;
    flex-direction: column;
    width: 47%;
    position: relative;
    gap: 1.5rem;
}

.resume .work-exp .left{
    left: -27%;
    text-align: end;
}
.resume .work-exp .right{
    left: 27%;
    text-align: start;
}

.resume .work-exp .logo{
    padding: 10px;
    font-size: 20px;
    color: var(--white);
    background-color: var(--orange-blur);
    border-radius: 50%;
}
.resume .work-exp .left .logo{
    position: absolute;
    right: -11%;
}
.resume .work-exp .right .logo{
    position: absolute;
    left: -11%;
}
.resume .work-exp .role{
    font-size: 24px;
}
.resume .work-exp .company{
    font-size: 16px;
    color: rgb(195, 195, 195);
}
.resume .work-exp .des{
    font-size: 16px;
    color: rgb(94, 94, 94);
}
