*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", serif;
    font-style: normal;
}

.container{
    width: 795px;
    border: 1px solid black;
    margin: 0 auto;
}
img{
    border: 7px solid white;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.left-section{
    background-color: rebeccapurple;
    padding: 45px;
    width: fit-content;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.heading{
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.line{
    border: 0.09rem solid white;
    margin-bottom: 0.8rem;
}
.leetcode{
    background-image: url("./images/leetcode.svg");
    width: 18px;
    height: 18px;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    color: white;
    font-size: 13px;
}
.contact-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.9rem;
    width: 190px;
}
.mail{
    color: white;
    text-decoration: none;
}
.contact-leet{
    display: flex;
    flex-direction: row;
    gap: 20rem;
}
.contact-info{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    width: 190px;

}