*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", serif;
    font-style: normal;
}

.container{
    width: 795px;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
    
}
#image{
    border: 7px solid white;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.left-section{
    background-color: rebeccapurple;
    padding: 45px;
    width: 34%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.heading{
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.line{
    /* border: 0.09rem solid white; */
    margin-bottom: 0.6rem;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    color: white;
    font-size: 13px;
}
.contact-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.9rem;
    width: 190px;
}
.mail{
    color: white;
    text-decoration: none;
    max-width: 180px;
    overflow-wrap: break-word;
}
.contact-leet{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: 0.4rem;
}
.leetcode{
    width: 16px;
    height: 16px;
}
.contact-info{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    width: 210px;
}

.education-details{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.first-section-education-details{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.school-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.school-name ul{
    padding-left: 0.9rem;
}
.right-section{
    background-color: red;
    width: 66%;
}